*{
    margin: 0;
    padding: 0;
}
.about{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 90px;
    background-color: azure;
}
.cat{
    float: left;
    width:25%;
    padding: 10px 20px;
    border: .1rem solid ;  
}
h4{
    font-size: .9rem;
}

.prod{
    
    float: left;
    width:30%;
    padding: 25px 15px;
    margin-left: 20px;
    
    
}

.clearfix {
    clear: both;
  }
