.details{
    padding-top: 90px;
    height: 800px;
}
.content{
     
    padding: 134px 40px;
    
   
}
.title{
    font-size: 1rem;
    font-weight: 550;
}
.conImg{
    padding:60px 118px ;
   
    
}